.container{
    background-color: white;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}
body{
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    position: absolute;
    left: 400px;
}
*{
    font-family: sans-serif;
    font-weight: 600;
}
input{
    border-radius: 50%;
    border: round solid 1px;
}

.container2{
    background-color: black;
    color: white;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.container3{
    background-color: white;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    border-radius: 50px;
}

.container4{
    background-color: black;
    color: white;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    border-radius: 50px;
}

.container5{
    background-color: white;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container6{
    background-color: black;
    color: white;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}